@use 'variables' as *;
.center-elem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-primary {
  background-color: $primary-color !important;
  color: #fff;
}

.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $secondary-color;
}

// maybe it will be refined in the future
.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $text-secondary-color;
}
