<h2 class="title">{{ data.title }}</h2>

@if (data.showTabs) {
  <mat-tab-group>
    <mat-tab label="Old Meter">
      <div class="d-flex justify-content-between">
        <div>
          <app-meter-info [details]="oldMeterDetails"></app-meter-info>
          <app-spare-parts-table [spareParts]="oldMeterSpareParts"> </app-spare-parts-table>
        </div>
        <div class="meter-image">
          <img [src]="data.oldMeter?.meterImage" alt="old meter image" />
        </div>
      </div>
    </mat-tab>

    <mat-tab label="New Meter">
      <div class="d-flex justify-content-between">
        <div>
          <app-meter-info [details]="newMeterDetails"></app-meter-info>
          <app-spare-parts-table [spareParts]="newMeterSpareParts"> </app-spare-parts-table>
        </div>
        <div class="meter-image">
          <img [src]="data.newMeter.meterImage" alt="new meter image" />
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
}

@if (!data.showTabs) {
  <div class="d-flex justify-content-between">
    <div>
      <app-meter-info [details]="newMeterDetails"></app-meter-info>
      <app-spare-parts-table [spareParts]="newMeterSpareParts"> </app-spare-parts-table>
    </div>
    <div class="meter-image">
      <img [src]="data.newMeter.meterImage" alt="new meter image" />
    </div>
  </div>
}
