@use '../../../../styles/helpers/variables' as *;
.title {
  margin-bottom: 0;
}

.add-icon {
  width: 35px;
  height: 35px;
  &:hover {
    color: #fff;
  }
}
.disabled-state {
  background-color: rgb(246, 188, 197);
}

