
<page-header [title]="'Agents'" [addLink]="'add'" addTooltip="Add Agent">
  <app-list-actions [showFilter]="true" (filterToggled)="toggleFilter()">
    <button
      custom-action
      [matMenuTriggerFor]="exportMenu"
      class="btn-custom-action btn btn-success"
    >
      <mat-icon>save</mat-icon>
      <span>Export</span>
    </button>
  </app-list-actions>
</page-header>
<div class="filter-container" [class.active]="filterVisible">
  <app-filter
    [isPrimary]="true"
    [controls]="filterControls"
    [showAllOption]="true"
    (filterChanged)="onFilterChanged($event)"
  ></app-filter>
</div>

<mat-menu #exportMenu>
  @for (format of fileFormats; track format.value) {
    <button mat-menu-item (click)="exportAgents(format.value)">
      {{ format.label }}
    </button>
  }
</mat-menu>
<app-adaptive-table
  [apiUrl]="endpoint"
  [httpMethod]="httpVerb"
  [filters]="filters"
  [columns]="columns"
  [rowClassFormatter]="rowClassFormatter"
  [isLoading]="false"
>
  <ng-template #actionBtns let-row let-index="index" let-col="colDef">
    <button
      color="primary"
      mat-icon-button
      (click)="toggleAgentState(row)"
      [matTooltip]="row.isActive ? 'Disable Agent' : 'Enable Agent'"
    >
      <mat-icon color="primary">{{ row.isActive ? 'block' : 'check_circle' }}</mat-icon>
    </button>
    <a
      color="primary"
      mat-icon-button
      [routerLink]="['/contractors', contractorId, 'agents', 'edit', row.id]"
      matTooltip="Edit Agent"
    >
      <mat-icon color="primary">edit</mat-icon>
    </a>
  </ng-template>
</app-adaptive-table>
