.install-meter-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.file-upload {
  margin: 16px 0;
}

.material-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  margin: 8px 0;
}
