<div class="detailed-contractor-container">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="title">Detailed by Contractor</h2>
    <!--<app-filter
      [isPrimary]="false"
      [controls]="filterControls"
      [showAllOption]="true"
      (filterChanged)="applyFilter($event)"
    ></app-filter>-->
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 shadow-none">
    <ng-container matColumnDef="contractorName">
      <th mat-header-cell *matHeaderCellDef colspan="1" class="header-group">Contractor Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.contractorName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="header-row-installation">
      <th mat-header-cell *matHeaderCellDef colspan="3" class="header-group">Installation</th>
    </ng-container>

    <ng-container matColumnDef="header-row-replacement">
      <th mat-header-cell *matHeaderCellDef colspan="3" class="header-group">Replacement</th>
    </ng-container>

    <ng-container matColumnDef="blank-space">
      <th mat-header-cell *matHeaderCellDef rowspan="1" colspan="1" class="header-group"></th>
    </ng-container>

    <ng-container matColumnDef="onAssignCount">
      <th mat-header-cell *matHeaderCellDef>Assign</th>
      <td mat-cell *matCellDef="let element">
        {{ element.onAssignCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="onAgentCount">
      <th mat-header-cell *matHeaderCellDef>On Agent</th>
      <td mat-cell *matCellDef="let element">{{ element.onAgentCount }}</td>
    </ng-container>

    <ng-container matColumnDef="onCustomerCount">
      <th mat-header-cell *matHeaderCellDef>On Customer</th>
      <td mat-cell *matCellDef="let element">{{ element.onCustomerCount }}</td>
    </ng-container>

    <ng-container matColumnDef="totalCustomerReplacement">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">{{ element.totalCustomerReplacement }}</td>
    </ng-container>

    <ng-container matColumnDef="totalRetireReceived">
      <th mat-header-cell *matHeaderCellDef>Received</th>
      <td mat-cell *matCellDef="let element">{{ element.totalRetireReceived }}</td>
    </ng-container>

    <ng-container matColumnDef="totalRetireNotReceived">
      <th mat-header-cell *matHeaderCellDef>Not Received</th>
      <td mat-cell *matCellDef="let element">{{ element.totalRetireNotReceived }}</td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['contractorName', 'header-row-installation', 'header-row-replacement']"
    ></tr>
    <tr
      mat-header-row
      *matHeaderRowDef="[
        'blank-space',
        'onAssignCount',
        'onAgentCount',
        'onCustomerCount',
        'totalCustomerReplacement',
        'totalRetireReceived',
        'totalRetireNotReceived'
      ]"
    ></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[ 10, 25, 100]"></mat-paginator>
</div>
