::ng-deep {
  .mtx-grid {
    .mat-mdc-icon-button {
      position: relative;
      z-index: 1;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
      &:not(:hover) {
        background-color: transparent !important;
      }
      &::after {
        content: '';
        position: absolute;
        top: -8px;
        bottom: -8px;
        left: -8px;
        right: -8px;
        z-index: -1;
      }
    }

    .no-row-active {

      background-color: transparent !important;
    }

    .mat-mdc-button-touch-target {
      pointer-events: none;
    }
    .mat-mdc-table .mat-mdc-cell {
      overflow: visible;
    }
  }
}
