<page-header [title]="'Installations'">
  <app-list-actions [showFilter]="true" (filterToggled)="toggleFilter()"> </app-list-actions>
</page-header>
<div class="filter-container" [class.active]="filterVisible">
  <app-filter
    [isPrimary]="true"
    [controls]="filterControls"
    [showAllOption]="true"
    (filterChanged)="onFilterChanged($event)"
  ></app-filter>
</div>
<app-adaptive-table
  [apiUrl]="endpoint"
  [httpMethod]="httpVerb"
  [filters]="filters"
  [columns]="columns"
  [isLoading]="false"
  [rowSelectable]="false"
  [rowHover]="false"
></app-adaptive-table>
