<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>{{ 'change_password' | translate }}</mat-card-title>
    <mat-card-content>
      <mat-form-field color="accent" appearance="outline" hideRequiredMarker="true">
        <mat-label>{{ 'old_password' | translate }}</mat-label>
        <input type="password" matInput formControlName="oldPassword" />
        <mat-icon matSuffix>lock</mat-icon>
        @if (changePasswordForm.controls.oldPassword.errors?.required) {
          <mat-error>{{ 'old_password_required' | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline" hideRequiredMarker="true">
        <mat-label>{{ 'new_password' | translate }}</mat-label>
        <input type="password" matInput formControlName="newPassword" />
        <mat-icon matSuffix>lock</mat-icon>
        @if (changePasswordForm.controls.newPassword.errors?.required) {
          <mat-error>{{ 'new_password_required' | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline" hideRequiredMarker="true">
        <mat-label>{{ 'confirm_password' | translate }}</mat-label>
        <input type="password" matInput formControlName="confirmPassword" />
        <mat-icon matSuffix>lock</mat-icon>
        @if (changePasswordForm.controls.confirmPassword.errors?.required) {
          <mat-error>{{ 'confirm_password_required' | translate }}</mat-error>
        }
        @if (changePasswordForm.hasError('passwordMismatch')) {
          <mat-error>{{ 'passwords_do_not_match' | translate }}</mat-error>
        }
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">
    {{ 'submit' | translate }}
  </button>
</form>
