<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="custom-form">
  <div class="row">
    <div class="col-md-9 col-lg-8">
      <mat-card class="card-border">
        <mat-card-title class="secondary-title">{{ 'change_password' | translate }}</mat-card-title>
        <mat-card-content>
          <mat-form-field color="accent" appearance="outline" hideRequiredMarker="true">
            <mat-label>{{ 'old_password' | translate }}</mat-label>
            <input type="password" matInput formControlName="oldPassword" />
            <mat-icon matSuffix>lock</mat-icon>
            @if (changePasswordForm.controls.oldPassword.errors?.required) {
              <mat-error>{{ 'old_password_required' | translate }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline" hideRequiredMarker="true">
            <mat-label>{{ 'new_password' | translate }}</mat-label>
            <input
              type="password"
              matInput
              formControlName="newPassword"
              (input)="updatePasswordChecklist()"
            />
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>

          <div
            class="password-checklist"
            [ngClass]="{
              'alert-success alert': allCriteriaMet()
            }"
          >
            <ul>
              <li [class.valid]="passwordCriteria.minLength">
                <mat-icon>{{ passwordCriteria.minLength ? 'done' : 'close' }}</mat-icon>
                {{ 'password_must_be_at_least_8_chars' | translate }}
              </li>
              <li [class.valid]="passwordCriteria.uppercase">
                <mat-icon>{{ passwordCriteria.uppercase ? 'done' : 'close' }}</mat-icon>
                {{ 'password_must_contain_uppercase' | translate }}
              </li>
              <li [class.valid]="passwordCriteria.lowercase">
                <mat-icon>{{ passwordCriteria.lowercase ? 'done' : 'close' }}</mat-icon>
                {{ 'password_must_contain_lowercase' | translate }}
              </li>
              <li [class.valid]="passwordCriteria.specialCharacter">
                <mat-icon>{{ passwordCriteria.specialCharacter ? 'done' : 'close' }}</mat-icon>
                {{ 'password_must_contain_special_character' | translate }}
              </li>
            </ul>
          </div>

          <mat-form-field color="accent" appearance="outline" hideRequiredMarker="true">
            <mat-label>{{ 'confirm_password' | translate }}</mat-label>
            <input type="password" matInput formControlName="confirmPassword" />
            <mat-icon matSuffix>lock</mat-icon>
            @if (changePasswordForm.controls.confirmPassword.errors?.required) {
              <mat-error>{{ 'confirm_password_required' | translate }}</mat-error>
            }
            @if (changePasswordForm.controls.confirmPassword.errors?.['confirmPassword']) {
              <mat-error>{{ 'passwords_do_not_match' | translate }}</mat-error>
            }
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="changePasswordForm.invalid"
          >
            {{ 'submit' | translate }}
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
