<div class="dashboard-container">
  <app-dashboard-header (filtersChanged)="onDashboardFilterChanged($event)"></app-dashboard-header>

  <div class="cards-section">
    @if (meters$ | async; as meters) {
      <app-meter-stats-card
        title="Meters"
        type="primary"
        [total]="meters.total || 0"
        [stats]="meters.stats || []"
        [values]="meters.values || []"
        [chartId]="meters.chartId || ''"
        [chartOptions]="meters.chartOptions"
      ></app-meter-stats-card>
    }

    @if (retiredMeters$ | async; as retiredMeters) {
      <app-meter-stats-card
        title="Retired Meters"
        type="secondary"
        [total]="retiredMeters.total || 0"
        [stats]="retiredMeters.stats || []"
        [values]="retiredMeters.values"
        [chartId]="retiredMeters.chartId || ''"
        [chartOptions]="retiredMeters.chartOptions"
      ></app-meter-stats-card>
    }
  </div>
  <app-dashboard-table
  [fullFilters]="{
    district: selectedDistrict,
    contractorId: (filtersSubject | async)?.contractorId ?? 0,
    meterTypeId: (filtersSubject | async)?.meterTypeId ?? 0,
    meterMakeId: (filtersSubject | async)?.meterMakeId ?? 0,
    startDate: (filtersSubject | async)?.startDate,
    endDate: (filtersSubject | async)?.endDate
  }"
  [isToggleApplied]="isToggleApplied"
/>

</div>
