<div class="dashboard-container">
  <app-dashboard-header (filterChanged)="handleFilterChange($event)"/>
  <div class="cards-section">
    <ng-container *ngIf="isloadingMeters">
      <app-meter-stats-card
                            title="Meters"
                            type="primary"
                            [total]="meters.total"
                            [stats]="meters.stats"
                            [values]="meters.values"
                            [chartId]="meters.chartId"
                            [chartOptions]="meters.chartOptions"></app-meter-stats-card>
    </ng-container>

    <ng-container *ngIf="isloadingMaterial">
      <app-meter-stats-card
                            title="Retired Meters"
                            type="secondary"
                            [total]="retiredMeters.total"
                            [stats]="retiredMeters.stats"
                            [values]="retiredMeters.values"
                            [chartId]="retiredMeters.chartId"
                            [chartOptions]="retiredMeters.chartOptions"></app-meter-stats-card>
    </ng-container>
  </div>
  <app-dashboard-table />
</div>
