<div class="dashboard-container">
  <app-dashboard-header />
  <div class="cards-section">
    <app-meter-stats-card
      title="Meters"
      type="primary"
      [total]="meters.total"
      [stats]="meters.stats"
      [values]="meters.values"
      [chartId]="meters.chartId"
      [chartOptions]="meters.chartOptions"
    ></app-meter-stats-card>

    <app-meter-stats-card
      title="Retired Meters"
      type="secondary"
      [total]="retiredMeters.total"
      [stats]="retiredMeters.stats"
      [values]="retiredMeters.values"
      [chartId]="retiredMeters.chartId"
      [chartOptions]="retiredMeters.chartOptions"
    ></app-meter-stats-card>
  </div>
  <app-dashboard-table />
</div>
