@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-anticlockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.matero-auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100%;
  background-image: url('assets/images/svgs/auth-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-image: url('assets/images/svgs/Gear 1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
  }
  &::before {
    width: 160px;
    height: 160px;
    top: 25%;
    right: 30%;
    animation: spin-clockwise 8s linear infinite;
  }
  &::after {
    width: 94px;
    height: 94px;
    top: 50%;
    right: 32.5%;
    animation: spin-anticlockwise 8s linear infinite;
  }
}
