@use '../../../../styles/helpers/variables' as *;
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
