<div class="row row-cols-2">
  @for (detail of details; track detail.label) {
    @if (detail.label !== 'Location') {
      <div class="col">
        <p>
          <strong>{{ detail.label }}</strong>
          <span>{{ detail.value || 'N/A' }} </span>
        </p>
      </div>
    }
    @if (detail.label === 'Location'  && detail.value && detail.value != 'OnStock' && detail.value != 'OnAgent') {
      <div class="meter-location">
        <a [href]="detail.value" target="_blank">View on Map</a>
      </div>
    }

  }
</div>
