p {
  span {
    line-height: 1;
    font-size: #000;
    font-size: 0.875rem;
    display: block;
  }
  strong {
    line-height: 1;
    font-size: 0.75rem;
    color: #6f6f6f;
    font-weight: 400;
  }
}
